# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Unity Cache
sysinfo.txt

# ============ #
# Visual Studio #
# ============ #
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Rider
.idea/
*.sln.iml

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# ============ #
# Builds       #
# ============ #
*.apk
*.aab
*.unitypackage
*.app
*.exe

# ============ #
# Other        #
# ============ #
.crash/
*.stackdump
